body {
    background-color: rgb(29, 116, 115);
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#files{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: solid;
    border-radius: 20px;
    border-color: brown;
}

a{
    font-size: 20px;
    
}